.form {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 3px;
}

.input {
    border-radius: 0.2rem;
    height: 2rem;
    border-width: 0.3px;
}

.inputButton{
    border-radius: 0.2rem;
    height: 2rem;
    background-color: rgb(229, 100, 100); 
    color: rgb(255, 255, 255);
}

