



.menuContainer{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding: 1rem;
    text-decoration: none;
    justify-content: center;
    background-color: rgb(90, 126, 245);
    width: 100%;

}

.menuItem {
    list-style-type: none;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(90, 126, 245);
    width: 100vw;
}

.menuName {
    background-color: rgb(90, 126, 245);
    color: white;
    text-decoration: none;
}

@media(max-width:768px) and (min-width: 481px){
    .menuContainer{
      width:100%;  
    }

    .menuItem {
    
    }
}

@media (max-width: 480px) {
    .menuContainer{
        width:100%;  
      }
}